@model ItemClassificationUpdateModel
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@{string PageTitle = (Model.WarehouseItemClassificationGUID == Guid.Empty) ? "New  Model " : "Edit Model"; }

@Html.PageHeader("e738bfed-7069-4936-806d-b20524e74065")
<div class="page--content">
    <div class="forms-fadeIn">
        @Html.Partial("~/Areas/WMS/Views/ItemClassifications/_ItemClassificationForm.cshtml")

        @*@if (Model.WarehouseItemModelGUID != Guid.Empty && Model.Active)
            {
                <div id="ItemModelLanguagesFormControls">
                    @Html.Partial("~/Areas/WMS/Views/ItemModels/_LanguagesDataTable.cshtml", new MasterRecordStatus { ParentGUID = Model.WarehouseItemModelGUID, IsParentActive = Model.Active })
                </div>
            }*@


    </div>
</div>

