@model string
<div class="modal-header ui-draggable-handle">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="Modal-Title">@Model</h4>
</div>