<div class="modal" id="FormModal"  role="dialog" aria-labelledby="FormModel-label">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div id="Loading-Container">
                        <div class="modal-header">
                            <input type="hidden" id="RowIdx" />
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">@resxPages.Loading</h4>
                        </div>
                        <div id="Modal-Loading">
                        </div>
                    </div>
                    <div id="Partial-Container">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>