<div class="modal" id="SignalRModal" tabindex="-1" role="alert" aria-hidden="true" style="display: none;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center" role="document">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="ModalTitle" class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <i id="ModalIcon" class=""></i>
                        <span id="ModalMessage"></span>
                    </div>
                    <div class="modal-footer">
                        <input id="btnConfirmSignalR" type="button" class="btn btn-primary" onclick="" value="Refresh" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>