@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("18460653-54cd-4878-af2a-1b20c9f79858")

<div class="page--content">
    <br />
    <br />
    <div class="row">


        @if (new CMS().HasAction(Permissions.PrintersConfiguration.Access, Apps.RMS))
        {
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <a class="black" href=@Url.Action("Chart", "Reports", new { Area = "RMS" })>
                    <div class="SubjectBox matchHeight">
                        <i class="fa fa- fa-file-excel-o fa-4x" aria-hidden="true"></i>
                        <div>
                            <h3>Chart Reports</h3>
                            <span>....</span>
                        </div>
                    </div>
                </a>
            </div>
        }

    </div>
</div>
