<div class="row section">
    <div class="col-xs-1 text-right pull-right">
        <a class="btn Edit-Link" onclick="EditSection(this, '@Url.Action("ActivitiesLogUpdate","AccountSettings")', 'PanelForActivitiesLog');">View</a>
    </div>
    <div class="col-xs-11">
        <h3 class="Title">@resxPages.ActivitiesLog</h3>
        <span>@resxPages.ActivitiesLogArticle</span>
    </div>
</div>
