<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Domain" value="10.244.8.14" />
    <add key="ServerAccessibility" value="prv" />
    <add key="MediaURL" value="/Media/" />
    <add key="DataFolder" value="D:\WebData\" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="IronPdf.LicenseKey" value="IRONPDF.UNHCR.IRO210905.4285.16103.509012-19840CF034-CKY76U6H5FTHHJH-JDI7ZBYIL7MH-EXIETJNJYEUC-AINUIVKKLBET-MBCWYYC4FGYC-IBGSFV-LD3SSH7A7SSHEA-PROFESSIONAL.SUB-4DUSHG.RENEW.SUPPORT.05.SEP.2022" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fsecuritywlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="D29CFEA57575CCBFC5D7B7E25EC329489ED66BC03880577DB240F79388DBC9C5E5EF345B1F8CFB685BFEAFABCDBAA4E2D40D8B6886049259AC0CF12076313E79" decryptionKey="C82A924E1E7FFA6302E964ED5809B8F37884D0B87E03091A" validation="SHA1" />
    <!--<customErrors mode="Off" /> <customErrors mode="RemoteOnly" />-->
    <webServices>
      <!--<jsonSerialization maxJsonLength="50000000000" />-->
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.7.2">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="1048576" maxQueryStringLength="1048576" maxUrlLength="1048576" executionTimeout="300" />
    <!-- KiloByte-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
      <!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />-->
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845DCD8080CC91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="32768" maxQueryString="3276800" maxAllowedContentLength="2147483648" />
        <!-- 15728640 byte = 15 MB -->
      </requestFiltering>
    </security>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace"></httpErrors>-->
    <!--<httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="500" />
      <remove statusCode="501" />
      <remove statusCode="502" />
      <remove statusCode="400" />
      <remove statusCode="404" />
      <error statusCode="500" path="/errors/500" responseMode="ExecuteURL" />
      <error statusCode="501" path="/errors/500" responseMode="ExecuteURL" />
      <error statusCode="502" path="/errors/500" responseMode="ExecuteURL" />
      <error statusCode="400" path="/errors/400" responseMode="ExecuteURL" />
      <error statusCode="404" path="/errors/404" responseMode="ExecuteURL" />
    </httpErrors>-->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <!--<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <connectionStrings>
    <add name="PortalDBConnectionString" connectionString="Data Source=10.244.8.14;Initial Catalog=PortalDB;Persist Security Info=True;User ID=CMSUser;Password=KjP4~7R`FbTjXbWiKo:Z" providerName="System.Data.SqlClient" />
    <add name="IDCEntities" connectionString="metadata=res://*/Model.IDCModel.csdl|res://*/Model.IDCModel.ssdl|res://*/Model.IDCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SHMEntities" connectionString="metadata=res://*/Model.SHMModel.csdl|res://*/Model.SHMModel.ssdl|res://*/Model.SHMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OVSEntities" connectionString="metadata=res://*/Model.OVSModel.csdl|res://*/Model.OVSModel.ssdl|res://*/Model.OVSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TBSEntities" connectionString="metadata=res://*/Model.TBSModel.csdl|res://*/Model.TBSModel.ssdl|res://*/Model.TBSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RMSEntities" connectionString="metadata=res://*/Model.RMSModel.csdl|res://*/Model.RMSModel.ssdl|res://*/Model.RMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PPAEntities" connectionString="metadata=res://*/Model.PPAModel.csdl|res://*/Model.PPAModel.ssdl|res://*/Model.PPAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="REFEntities" connectionString="metadata=res://*/Model.REFModel.csdl|res://*/Model.REFModel.ssdl|res://*/Model.REFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AMSEntities" connectionString="metadata=res://*/Model.AMSModel.csdl|res://*/Model.AMSModel.ssdl|res://*/Model.AMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PCREntities" connectionString="metadata=res://*/Model.PCRModel.csdl|res://*/Model.PCRModel.ssdl|res://*/Model.PCRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SRSEntities" connectionString="metadata=res://*/Model.SRSModel.csdl|res://*/Model.SRSModel.ssdl|res://*/Model.SRSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WMSEntities" connectionString="metadata=res://*/Model.WMSModel.csdl|res://*/Model.WMSModel.ssdl|res://*/Model.WMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IMSEntities" connectionString="metadata=res://*/Model.IMSModel.csdl|res://*/Model.IMSModel.ssdl|res://*/Model.IMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OVSEntities" connectionString="metadata=res://*/Model.OVSModel.csdl|res://*/Model.OVSModel.ssdl|res://*/Model.OVSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MRSEntities" connectionString="metadata=res://*/Model.MRSModel.csdl|res://*/Model.MRSModel.ssdl|res://*/Model.MRSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CMSEntities" connectionString="metadata=res://*/Models.CMSModel.csdl|res://*/Models.CMSModel.ssdl|res://*/Models.CMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IMSEntities" connectionString="metadata=res://*/Model.IMSModel.csdl|res://*/Model.IMSModel.ssdl|res://*/Model.IMSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AHDEntities" connectionString="metadata=res://*/Model.AHDModel.csdl|res://*/Model.AHDModel.ssdl|res://*/Model.AHDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ISSEntities" connectionString="metadata=res://*/Model.ISSModel.csdl|res://*/Model.ISSModel.ssdl|res://*/Model.ISSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EMTEntities" connectionString="metadata=res://*/Model.EMTModel.csdl|res://*/Model.EMTModel.ssdl|res://*/Model.EMTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSuser;password=KjP4~7R`FbTjXbWiKo:Z;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DASEntities" connectionString="metadata=res://*/Model.DASModel.csdl|res://*/Model.DASModel.ssdl|res://*/Model.DASModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TTTEntities" connectionString="metadata=res://*/Model.TTTModel.csdl|res://*/Model.TTTModel.ssdl|res://*/Model.TTTModel.msl;provider=System.Data.SqlClient;provider connection string='data source=10.244.8.14;initial catalog=PortalDB;persist security info=True;user id=TTTUser;password=&quot;59W7J{`e=L8z^Q`Q&quot;;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="ORGEntities" connectionString="metadata=res://*/Model.ORGModel.csdl|res://*/Model.ORGModel.ssdl|res://*/Model.ORGModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FWSEntities" connectionString="metadata=res://*/Model.FWSModel.csdl|res://*/Model.FWSModel.ssdl|res://*/Model.FWSModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;persist security info=True;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="COVEntities" connectionString="metadata=res://*/Model.COVModel.csdl|res://*/Model.COVModel.ssdl|res://*/Model.COVModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=COVUser;password=xf.RK-&gt;6pjwAM+w1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Model.OSAModel.csdl|res://*/Model.OSAModel.ssdl|res://*/Model.OSAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GTPEntities" connectionString="metadata=res://*/Model.GTPModel.csdl|res://*/Model.GTPModel.ssdl|res://*/Model.GTPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PCAEntities" connectionString="metadata=res://*/Model.PCAModel.csdl|res://*/Model.PCAModel.ssdl|res://*/Model.PCAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PMDEntities" connectionString="metadata=res://*/Model.PMDModel.csdl|res://*/Model.PMDModel.ssdl|res://*/Model.PMDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=CMSUser;password=KjP4~7R`FbTjXbWiKo:Z;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>