<div class="row section">
    <div class="col-xs-1 text-right pull-right">
        <a class="btn Edit-Link" onclick="EditSection(this, '@Url.Action("ConnectionsUpdate","AccountSettings")', 'PanelForConnections');">View</a>
    </div>
    <div class="col-xs-11">
        <h3 class="Title">Connections</h3>
        <span>Manage the Connections you recieve on the Portal, Emails and SMS</span>
    </div>
</div>
