@{
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

<div id="exTab1">
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#1a" data-toggle="tab">TAB ONE</a>
        </li>
        <li>
            <a href="#2a" data-toggle="tab">TAB TWO</a>
        </li>
        <li>
            <a href="#3a" data-toggle="tab">TAB THREE</a>
        </li>
    </ul>
</div>
<div class="tab-content clearfix">
    <div class="tab-pane active" id="1a">
        <article>
            <h3>Wolfgang Amadeus Mozart</h3>
            Wolfgang Amadeus Mozart, 27 January 1756 – 5 December 1791), baptised as Johannes Chrysostomus Wolfgangus Theophilus Mozart,[2] was a prolific and influential composer of the Classical era.
            Born in Salzburg, he showed prodigious ability from his earliest childhood. Already competent on keyboard and violin, he composed from the age of five and performed before European royalty. At 17, Mozart was engaged as a musician at the Salzburg court, but grew restless and traveled in search of a better position. While visiting Vienna in 1781, he was dismissed from his Salzburg position. He chose to stay in the capital, where he achieved fame but little financial security. During his final years in Vienna, he composed many of his best-known symphonies, concertos, and operas, and portions of the Requiem, which was largely unfinished at the time of his death.
        </article>
    </div>
    <div class="tab-pane" id="2a">
        <article>
            <h3>Ludwig van Beethoven</h3>
            Ludwig van Beethoven, baptised 17 December 1770[1] – 26 March 1827) was a German composer and pianist. A crucial figure in the transition between the Classical and Romantic eras in Western art music, he remains one of the most famous and influential of all composers. His best-known compositions include 9 symphonies, 5 piano concertos, 1 violin concerto, 32 piano sonatas, 16 string quartets, his great Mass the Missa solemnis, and one opera, Fidelio.
            Born in Bonn, then the capital of the Electorate of Cologne and part of the Holy Roman Empire, Beethoven displayed his musical talents at an early age and was taught by his father Johann van Beethoven and by composer and conductor Christian Gottlob Neefe. At the age of 21 he moved to Vienna, where he began studying composition with Joseph Haydn and gained a reputation as a virtuoso pianist. He lived in Vienna until his death. By his late 20s his hearing began to deteriorate, and by the last decade of his life he was almost completely deaf. In 1811 he gave up conducting and performing in public but continued to compose; many of his most admired works come from these last 15 years of his life.
        </article>
    </div>
    <div class="tab-pane" id="3a">
        <article>
            <h3>
                Frédéric François Chopin
            </h3>
            Frédéric François Chopin, 1 March 1810 – 17 October 1849), born Fryderyk Franciszek Chopin,[n 1] was a Polish composer and virtuoso pianist of the Romantic era who wrote primarily for the solo piano. He gained and has maintained renown worldwide as a leading musician of his era, whose "poetic genius was based on a professional technique that was without equal in his generation."[1] Chopin was born in what was then the Duchy of Warsaw and grew up in Warsaw, which in 1815 became part of Congress Poland. A child prodigy, he completed his musical education and composed his earlier works in Warsaw before leaving Poland at the age of 20, less than a month before the outbreak of the November 1830 Uprising.
        </article>
    </div>
</div>