<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EMTEntities" connectionString="metadata=res://*/Model.EMTModel.csdl|res://*/Model.EMTModel.ssdl|res://*/Model.EMTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.244.8.14;initial catalog=PortalDB;user id=COVUser;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>