@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("6db75129-160d-44f7-a623-f36c34217903")

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/TTT/Reports/GenerateTrackingSheetReport/2020">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Generate Procurement Tracking Sheet (2020)</h3>
                        <span>......</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/TTT/Reports/GenerateTrackingSheetReport/2021">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Generate Procurement Tracking Sheet (2021)</h3>
                        <span>......</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
