@{
    ViewBag.Title = "RequestSentMessage";
}
<div class="page--header">
    <div class="page--banner">
        <h2>@resxPages.AccessRequestSent</h2>
        <span>@resxPages.AccessRequestSentBody</span>
    </div>
</div>
<div class="page--content">
    <div class="page--body">
        <br />
            @resxPages.AccessRequestSentMessage
    </div>
</div>