@model MasterRecordStatus
@*<h3 class="Title">Bank Accounts</h3>*@
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div id=@string.Format("{0}Filter", DataTableNames.StaffGrantedSoftwareApplicationsDataTable) class="filter-section" style="display:none;">
            <div class="row">
                <div class="col-lg-12">
                        @Html.Partial("_RecordStatus", DataTableNames.StaffGrantedSoftwareApplicationsDataTable)
                    </div>
            </div>
        </div>

        <div class="dt-controls-field" id="@string.Format("{0}ActionsContainer", DataTableNames.StaffGrantedSoftwareApplicationsDataTable)">
            @*@Html.FieldDataTableFilter(DataTableNames.StaffGrantedSoftwareApplicationsDataTable)*@
          
            @*@Html.FieldDataTableDelete(Permissions.StaffProfile.Delete, Apps.ORG, DataTableNames.StaffGrantedSoftwareApplicationsDataTable)*@

          
            @Html.FieldDataTableRefresh(DataTableNames.StaffGrantedSoftwareApplicationsDataTable)
        </div>

        @Html.Partial("DataTableControl", new DataTableControl { Name = DataTableNames.StaffGrantedSoftwareApplicationsDataTable, FormController = "StaffProfile", Area = "ORG", Type = DataTableTypes.Field, EditMode = DataTableEditMode.Modal, PK = Model.ParentGUID, OrderBy = 1 })
    </div>
</div>

