@model dataStaffBankAccount
@{
    ViewBag.Title = "Verify Email";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

<div class="page--header">
    <div class="page--banner">
        <h2>Confirmation </h2>
        <div class="row">
            <div class="col-md-12">
                <article>
          Record Been Updated
                </article>
            </div>
        </div>
    </div>
</div>
