@{
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
<div class="page--content">
    <br />
    <h2>@ViewBag.ErrorHeader</h2>
    <p>@ViewBag.ErrorDescription</p>
    <p><a onclick="window.history.back();" href="#">Return to the previous page.</a></p>
</div>
