@{
    ViewBag.Title = "ModelReceiveConfirmation";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}



<div class="page--header">
    <div class="page--banner">
        <h2>@resxPages.ModelReceiveConfirmation</h2>
        <div class="row">
            <div class="col-md-5">
                <article>
                    @resxPages.ModelReceiveConfirmationArticle
                </article>
            </div>
        </div>
    </div>
</div>
<div class="page--content">
    <div class="page--body">
        <br />
        <br />
        <h4> @resxPages.RegistrationResponseBody </h4>
        @Html.ActionLink(resxUIControls.BackToLogin, "Index", "Account", null, new { @class = "btn btn-default" })
    </div>
</div>