@model GTPPersonalHistoryFormUpdateModel
@{
    ViewBag.Title = "Tenders";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("bcbedf30-d6d3-48d6-977b-9b237c9ee5aa")

@{string PageTitle = (Model.GTPApplicationGUID == Guid.Empty) ? "New Application" : "Edit Application"; }

<div class="page--content">
    <div class="forms-fadeIn">
        @Html.Partial("~/Areas/GTP/Views/Applications/_PersonalHistoryForm.cshtml")
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {

        })
    </script>
}