
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("46cd2ff7-4d48-4697-970c-b37fb43ca04d")



<div class="page--content">
    <br />
    <br />

 

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <a class="black" href="/ISS/GetOfflineReportsItem">
                    <div class="SubjectBox matchHeight">
                        <i class="fa fa-desktop  fa-4x" aria-hidden="true"></i>
                        <div>
                            <h3>Stock Item</h3>
                            <span>..</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <a class="black" href="/ISS/GetOfflineReportsItemPipline">
                    <div class="SubjectBox matchHeight">
                        <i class="fa fa-desktop  fa-4x" aria-hidden="true"></i>
                        <div>
                            <h3>Item Pipeline </h3>
                            <span>..</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <a class="black" href="/ISS/GetOfflineReportsItemOverview">
                    <div class="SubjectBox matchHeight">
                        <i class="fa fa-desktop  fa-4x" aria-hidden="true"></i>
                        <div>
                            <h3>Item Overview</h3>
                            <span>..</span>
                        </div>
                    </div>
                </a>
            </div>






        </div>


    </div>



