


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("62456657-32d9-4aec-9db6-a4a186f8894b")

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/Units">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Unit Focal Points </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/TemplateConfiguration">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Template Configuration </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/DocumentCabinetShelfs/">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Shelf Configuration </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>


    </div>
    <div class="row">


    </div>
</div>





