@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}
@Html.PageHeader("f03a658e-c39b-4779-b422-ed89dbeeb7ff")
<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/MyFilesIndex">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-user-o fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Owned  Files  </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/RefugeeScannedDocument">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-hand-lizard-o fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>All Files </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>    
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/ScanDocument/UploadDocumentIndex">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-search fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Search Bulk Files </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
    </div>
</div>





