
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("35ab7a2a-2af3-41fb-a860-624bd2c2f075")

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/OverviewReportIndex/">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Overview Report </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/GeneralReports">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-file-excel  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>General Report </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>




    </div>
    <div class="row">


    </div>
</div>