@Html.Partial("_ModalHeader", "Help Desk User Manual")
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div id="example-19" class="ma5slider outside-navs outside-dots loop-mode">
                <div class="slides">
                    <a href="#slide-1"><img src="~/Assets/Plugin/ma5slider-master/dist/images/image1.jpg" alt=""></a>
                    <a href="#slide-2"><img src="~/Assets/Plugin/ma5slider-master/dist/images/image2.jpg" alt=""></a>
                    <a href="#slide-3"><img src="~/Assets/Plugin/ma5slider-master/dist/images/image3.jpg" alt=""></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description Spamle description
        </div>

    </div>
</div>
@section scripts{
    <script>
        $(window).on('load', function () {

            // Methods
            //$('#example-34').ma5slider('goToSlide', 3);
            //// Calls
            //$('#example-34').on('ma5.animationStart', function () {
            //    console.log('event animationStart');
            //});
            //$('#example-34').on('ma5.animationEnd', function () {
            //    console.log('event animationEnd');
            //});
            //$('#example-34').on('ma5.firstSlide', function () {
            //    console.log('event firstSlide');
            //});
            //$('#example-34').on('ma5.lastSlide', function () {
            //    console.log('event lastSlide');
            //});
            //$('#example-34').on('ma5.activeSlide', function (event, slide) {
            //    console.log('event activeSlide: ' + slide);
            //});
        });
    </script>
}
