
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("675de853-151b-4c2f-93f4-da1434eee76c")

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/SRS/HelpDesk">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-desktop  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Syria ICT Services Tickets</h3>
                        <span>Add/Follow up on tickets.</span>
                    </div>
                </div>
            </a>
        </div>
        <div id="SRSUserManual" class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" data-url="/SRS/Home/UserManual" href="javascrip:void(0)">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-book  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Disclaimer</h3>
                        <span>This is not a replacement of the standard UNHCR's Global Service Desk.It is a tool to facilitate the technical support of Syria Operation locally managed ICT services.</span>
                    </div>
                </div>
            </a>
        </div>
        @*<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <a class="black" href="/SRS/ApplicationEnhancements">
                    <div class="SubjectBox matchHeight">
                        <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                        <div>
                            <h3>Application Enhancement Request</h3>
                            <span>Here you can requests application enhancements, and follow up your previous requests.</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <a class="black" href="/SRS/ApplicationBugReport">
                    <div class="SubjectBox matchHeight">
                        <i class="fa fa-bug  fa-4x" aria-hidden="true"></i>
                        <div>
                            <h3>Application Bug Report</h3>
                            <span>Here you can report a bug in an application, and follow up your previous reports.</span>
                        </div>
                    </div>
                </a>
            </div>*@
    </div>
</div>
@*<script type="text/javascript">
    $(function () {

        $('#SRSUserManual').click(function (e) {
            e.preventDefault();
            var url = $(this).attr('data-href');
        });
    });
</script>*@