@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}


@Html.PageHeader("98339153-f6a2-49c6-89ed-62c4b580cc57")

<div class="page--content">
    <br />
    <br />


    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="test" data-parent="#accordion" href="#test1">
                        Entitlement(s)
                    </a>
                </h4>
            </div>
            <div id="test1" class="panel-test test in">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a class="black" href="/AHD/InternationalStaffEntitlementHistoricalIndex">
                                <div class="SubjectBox matchHeight">
                                    <i class="fa fa-history  fa-4x" aria-hidden="true"></i>
                                    <div>
                                        <h3>Staff Historical Entitlements</h3>
                                        <span>Search all staff historical entitlements </span>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a class="black" href="/AHD/InternationalStaffEntitlementPeriodIndex">
                                <div class="SubjectBox matchHeight">
                                    <i class="fa fa-money  fa-4x" aria-hidden="true"></i>
                                    <div>
                                        <h3>Entitlement Per Period</h3>
                                        <span>Add new entitlement</span>
                                    </div>
                                </div>
                            </a>
                        </div>




                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="test" data-parent="#accordion" href="#test2">
                        Reporting
                    </a>
                </h4>
            </div>
            <div id="test2" class="panel-test test">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a class="black" href="#">
                                <div class="SubjectBox matchHeight">
                                    <i class="fa fa-file-excel-o fa-4x" aria-hidden="true"></i>
                                    <div>
                                        <h3> Reporting</h3>
                                        @*<span>--</span>*@
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="test" data-parent="#accordion" href="#test2">
                        Configuration
                    </a>
                </h4>
            </div>
            <div id="test2" class="panel-test test">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <a class="black" href="/AHD/EntitlementsInitCalacuationsIndex">
                                <div class="SubjectBox matchHeight">
                                    <i class="fa fa-cogs fa-4x" aria-hidden="true"></i>
                                    <div>
                                        <h3> Entitlements Calculations Rules</h3>
                                        @*<span>--</span>*@
                                    </div>
                                </div>
                            </a>
                        </div>





                    </div>
                </div>
            </div>
        </div>






    </div>

    </div>

