@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("7b68f6cc-88fe-49a2-bed2-9208528fb05c")

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/PMD/PartnerMonitoringDatabase/">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-table  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Project Reporting and Monitoring Database</h3>
                        <span>......</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/PMD/PartnerMonitoringDatabase/">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Achievements Vs. Target</h3>
                        <span>UNDER CONSTRUCTION</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/PMD/PartnerMonitoringDatabase/">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Information Management Products</h3>
                        <span>UNDER CONSTRUCTION</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
