
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("cb700866-3d14-4fd2-85af-3ce46ff2ecfd")

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/WMS/Reports/">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>General Reports </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/WMS/Reports/OverviewReportIndex/">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-bar-chart fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Overview Reports </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>
        @*<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/DAS/CaseMovementReports">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Case Movement Reports </h3>
                        <span>.</span>
                    </div>
                </div>
            </a>
        </div>*@




    </div>
    <div class="row">


    </div>
</div>