@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("c7628684-c458-41bb-ab85-ba80c309099f")

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/COV/CovidUNHCRResponse/">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Covid-19 UNHCR Strategy Response</h3>
                        <span>......</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
