@model STIContactsUpdateModel
<style>
    .wrapper {
        position: relative;
        width: 400px;
        height: 200px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>

@using (Html.BeginForm("ConfirmDeleteContact", "STIContacts", new { Area = "WMS" }, FormMethod.Post, new { id = "ConfirmRecivingFileferModelForm" }))
{
    string ModalTitle = "Delete Contact";
    @Html.Partial("_ModalHeader", ModalTitle)
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.FormHiddenFields(model => model.StaffinformationID)
    </div>
    <div class="modal-footer form-footer">
        <input type="submit" value="Delete Contact " />
      
        @Html.CloseModalButton()
    </div>
}


