@model string
@{

    ViewBag.Title = "DownLoad";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("578061a9-9557-4e6f-8bf4-0ab324d2d760")
<div class="page--content">
    <div class="Row">
        <div class="col-12 ">
            <a href="/Uploads/SHM/CompletedShuttles/@Model"><img class="image" src="~/Assets/Images/DownLoad.png" /></a>
        </div>
    </div>
</div>