@model StaffPhoneUpdateModel
@{
    ViewBag.Title = "Update Record";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("9d9e094d-7750-4951-b6f2-12b8565c12f5")
@{string PageTitle = (Model.StaffSimGUID == Guid.Empty) ? "New Staff Phone" : "Edit Staff Phone"; }
<div class="page--content">
    <div class="forms-fadeIn">
        @Html.Partial("~/Areas/TBS/Views/Configuration/StaffPhones/_StaffPhoneForm.cshtml")
        @*<div id="LanguagesContainer">
                @if (Model.ApplicationGUID != Guid.Empty && Model.Active)
                {
                    @Html.Partial("~/Areas/CMS/Views/Codes/Applications/_LanguagesDataTable.cshtml", new MasterRecordStatus { ParentGUID = Model.ApplicationGUID, IsParentActive = Model.Active })
                }
            </div>*@
    </div>
    @*<br />
        <br />
        <div class="row">
            <div class="col-lg-12">
                @Html.Partial("~/Views/Audit/_AuditHandler.cshtml", Url.Action("ApplicationAuditHistory", "Codes", new { RecordGUID = Model.ApplicationGUID }))
            </div>
        </div>*@
</div>