
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("977aab9c-e9b6-424c-99a5-76db620cc7f7")

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/ORG/CodeBanks">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-bank  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Banks </h3>
                        <span>Here you can define and edit banks information.</span>
                    </div>
                </div>
            </a>
        </div>

   



    </div>
    <div class="row">


    </div>
</div>


