
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}

@Html.PageHeader("675de853-151b-4c2f-93f4-da1434eee76c")

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/ORG/StaffProfile">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-desktop  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Staff Profile Management</h3>
                        <span>Add/Modify Existing staff profiles.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/ORG/Dashboard">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-desktop  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Organizational Diagram</h3>
                        <span>...............</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/ORG/Home/Configuration">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Configuration </h3>
                        <span>..</span>
                    </div>
                </div>
            </a>
        </div>
        @*<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/SRS/ApplicationEnhancements">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-cogs  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Application Enhancement Request</h3>
                        <span>Here you can requests application enhancements, and follow up your previous requests.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href="/SRS/ApplicationBugReport">
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-bug  fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Application Bug Report</h3>
                        <span>Here you can report a bug in an application, and follow up your previous reports.</span>
                    </div>
                </div>
            </a>
        </div>*@
    </div>
</div>
@*<script type="text/javascript">
        $(function () {

            $('#SRSUserManual').click(function (e) {
                e.preventDefault();
                var url = $(this).attr('data-href');
            });
        });
    </script>*@