
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}


@Html.PageHeader("43e6810f-6823-421d-8d97-3c43fe5e744e")

<div class="page--content">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href=@Url.Action("AppointmentByDate", "Reports", new { Area = "AMS" })>
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-calendar-check-o fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Appointment By Date</h3>
                        @*<span>Case Appointments Management Tool.</span>*@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href=@Url.Action("AppointmentByExecutionTime", "Reports", new { Area = "AMS" })>
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-calendar-check-o fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Appointment By Execution Time</h3>
                        @*<span>Case Appointments Management Tool.</span>*@
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href=@Url.Action("AppointmentOverview", "Reports", new { Area = "AMS" })>
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-calendar-check-o fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Appointment Overview</h3>
                        @*<span>Case Appointments Management Tool.</span>*@
                    </div>
                </div>
            </a>
        </div>



        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <a class="black" href=@Url.Action("AppointmentsSlot", "Reports", new { Area = "AMS" })>
                <div class="SubjectBox matchHeight">
                    <i class="fa fa-calendar-check-o fa-4x" aria-hidden="true"></i>
                    <div>
                        <h3>Appointments Slot</h3>
                        @*<span>Case Appointments Management Tool.</span>*@
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>
