@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts/_SiteLayout.cshtml";
}


@Html.PageHeader("f2425358-1f49-4819-b435-4fff11729bd7")

<div class="page--content">
    <br />
    <br />
    <div class="row">


        @if (new CMS().HasAction(Permissions.CardIssued.Access, Apps.IDC))
        {

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <a class="black" href=@Url.Action("Index", "CardIndividualInfos" , new { Area="IDC" })>
                    <div class="SubjectBox matchHeight">
                        <i class="fa fa-id-card-o  fa-4x" aria-hidden="true"></i>
                        <div>
                            <h3>ID Cards Request</h3>
                            <span>.</span>
                        </div>
                    </div>
                </a>
            </div>
        }

        @if (new CMS().HasAction(Permissions.CardValidation.Access, Apps.IDC))
        {

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <a class="black" href=@Url.Action("Index", "CardValidations" , new { Area="IDC" })>
                    <div class="SubjectBox matchHeight">
                        <i class="fa fa-check fa-4x" aria-hidden="true"></i>
                        <div>
                            <h3>ID Cards Validation</h3>
                            <span>.</span>
                        </div>
                    </div>
                </a>
            </div>
        }
        @if (new CMS().HasAction(Permissions.CardPrint.Access, Apps.IDC))
        {

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                <a class="black" href=@Url.Action("Index", "CardPrints" , new { Area="IDC" })>
                    <div class="SubjectBox matchHeight">
                        <i class="fa fa-print fa-4x" aria-hidden="true"></i>
                        <div>
                            <h3>ID Cards Print</h3>
                            <span>.</span>
                        </div>
                    </div>
                </a>
            </div>
        }
      
    </div>
   

</div>